<div class="fm-home content">
    <header class="hero">
        <h3>forthmedia</h3>
        <h2>Engineering that empowers innovation</h2>
    </header>
    <h2>Software</h2>
    <mat-icon class="jumbo">computer</mat-icon>
    <p>
        We are a software engineering company that specializes in full-stack web development using the latest tools,
        methods, and frameworks.
    </p>
    <h2>Information Technology</h2>
    <mat-icon class="jumbo">storage</mat-icon>
    <p>
        We create high-impact solutions by providing an integrated approach to technology, innovation,
        security and emerging technologies.
    </p>
</div>
