<footer>
    <div class="content">
        <div>Visit us on 
            <a href="https://www.linkedin.com/in/kurtjonach/" title="LinkedIn" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
                LinkedIn
            </a>
            and
            <a href="https://twitter.com/aijunzi" title="Twitter" target="_blank">
                <i class="fa-brands fa-twitter"></i>
                Twitter
            </a>
        </div>
        <div>Code repository on 
            <a href="https://github.com/forthmedia/" title="GitHub" target="_blank">
                <i class="fa-brands fa-github"></i>
                GitHub
            </a>
        </div>    
    </div>
</footer>    
