@import 'src/styles.scss';

:host {
    margin-top: auto;

    footer {
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;
        padding: 24px 0;

        .content {
            display: flex;
            justify-content: space-between;
        }
        a {
            color: $fm-gold;
            display: block;
            text-decoration: none;
            cursor: pointer;
        }
        .firebase {
            width: 100px;
        }
    }
}