<footer>
    <div class="content">
        <div class="left">
            <div>
                <a href="https://www.linkedin.com/in/kurtjonach/" title="LinkedIn" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>&nbsp;LinkedIn
                </a>
                <a href="https://twitter.com/aijunzi" title="Twitter" target="_blank">
                    <i class="fa-brands fa-twitter"></i>&nbsp;Twitter
                </a>
                <a href="https://www.instagram.com/aijunzi/" title="Instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>&nbsp;Instagram
                </a>
            </div>
            <div>
                <a href="https://github.com/forthmedia/" title="GitHub" target="_blank">
                    <i class="fa-brands fa-github"></i>&nbsp;GitHub
                </a>
            </div>
        </div>
        <div class="center">
            <a [routerLink]="['/info']" [queryParams]="{ doc: 'privacy' }">Privacy and Cookie Policy</a>
            <a [routerLink]="['/info']" [queryParams]="{ doc: 'terms' }">Terms and Conditions</a>
            <br/>
            Copyright &copy; 2023 Forthmedia, Inc.
        </div>    
        <div class="right">
            <img src="/assets/firebase-built.svg" class="firebase" />  
        </div>
    </div> 
</footer>    
