<footer>
    <div class="content">
        <div class="left">
            <div>
                <a href="https://www.linkedin.com/in/kurtjonach/" title="LinkedIn" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>&nbsp;LinkedIn
                </a>
                <a href="https://twitter.com/aijunzi" title="Twitter" target="_blank">
                    <i class="fa-brands fa-twitter"></i>&nbsp;Twitter
                </a>
                <a href="https://www.instagram.com/aijunzi/" title="Instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>&nbsp;Instagram
                </a>
            </div>
            <div>
                <a href="https://github.com/forthmedia/" title="GitHub" target="_blank">
                    <i class="fa-brands fa-github"></i>&nbsp;GitHub
                </a>
            </div>
        </div>
        <div class="center">
            <a href="https://www.iubenda.com/privacy-policy/65825797" target="_blank" class="iubenda-white no-brand iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
            <a href="https://www.iubenda.com/terms-and-conditions/65825797" target="_blank" class="iubenda-white no-brand iubenda-noiframe iubenda-embed iubenda-noiframe " title="Terms and Conditions ">Terms and Conditions</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
            <br/>
            Copyright &copy; 2023 Forthmedia, Inc.
        </div>    
        <div class="right">
            <img src="/assets/firebase-built.svg" class="firebase" />  
        </div>
    </div> 
</footer>    
