<div class="fm-dashboard">
    <div class="welcome content">
        <h2>Welcome {{displayName}}</h2>
    </div>
    <footer>
        <div class="blog-promo">
            <img src="/assets/fmBroadcast-Icon.png" />
            <div>
                Code like a pro with advanced coding tutorials about JavaScript, Python, Angular, and Firebase
                on the <a href="https://forth-media.com/blog/" target="_blank">Ai Junzi Blog</a>.
            </div>    
        </div>
        <div class="technology">
            <i class="fa-brands fa-js jumbo"></i>
            <i class="fa-brands fa-html5 jumbo"></i>
            <i class="fa-brands fa-css3 jumbo"></i>
            <i class="fa-brands fa-angular jumbo"></i>
        </div>    
    </footer>
</div>
