@import 'src/styles.scss';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .fm-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;

    }
}