<div class="fm-project content">
    <mat-card class="fm-card">
        <mat-card-header>
            <div mat-card-avatar class="fm-card-image"></div>
            <mat-card-title>Carl Jung at the Beach</mat-card-title>
            <mat-card-subtitle>Stable Diffusion</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/cgjung-at-beach.jpeg" alt="AI rendered image">
        <mat-card-content>
            <p>
            Stable Diffusion is a state of the art AI model that generates images from text.
            </p>
        </mat-card-content>
        <!-- TODO: Buttons should send user to blog to like and share. 
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="primary">SHARE</button>
        </mat-card-actions>
        -->
    </mat-card>
</div>
