<div class="fm-project content">
    <mat-card class="fm-card">
        <mat-card-header>
            <div mat-card-avatar class="fm-card-image"></div>
            <mat-card-title>Carl Jung at the Beach</mat-card-title>
            <mat-card-subtitle>Stable Diffusion</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/cgjung-at-beach.jpeg" alt="AI rendered image">
        <mat-card-content>
            <div>
            Stable Diffusion is a state of the art AI model that generates images from text.
            </div>
        </mat-card-content>
        <mat-card-actions>
            <ng-container *ngIf="!isSignedIn; else signed_in">
                <div class="likes-container">
                    <mat-icon class="disabled">favorite_border</mat-icon>
                    <span class="likes">{{likes}}</span>
                </div>                    
            </ng-container>
            <ng-template #signed_in>
                <div class="likes-container" (click)="onLike()">
                    <mat-icon *ngIf="!userLiked">favorite_border</mat-icon>
                    <mat-icon *ngIf="userLiked" class="user-liked">favorite</mat-icon>
                    <span class="likes">{{likes}}</span>
                </div>    
            </ng-template>
        </mat-card-actions>    
</mat-card>
</div>
