<div class="fm-signup content">
    <mat-card>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" matInput placeholder="Email">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
                </mat-form-field>
            </div>
            <div *ngIf="firebaseErrorMessage" class="error-style">
                <span>{{firebaseErrorMessage}}</span>
            </div>
            <button mat-raised-button color="primary">Register</button>
        </form>
    </mat-card>
</div>
