@import 'src/styles.scss';

:host {
 
    .fm-signin-dialog {
        display: flex;
        flex-direction: column;    

        h2 {
            margin-block-end: 0;
        }
        mat-icon {
            align-self: center;
            color: $fm-red;
        }
        .mat-dialog-content {
            color: darkgray;
        }
    }
}
