@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap'); 

$fm-blue: #ADADFF;
$fm-light-grey: #EEEEEE;
$fm-grey: #DDDDDD;
$fm-dark-grey: #777777;
$fm-gold: #FF9900;
$fm-red: #FF0033;
$fm-blue-grey: #cfd8dc;

$nav-height: 40px;
$form-width: 300px;

h1, h2, h3, h4, h5, h6, button, nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0; 
}
.content {
    width: 60%;
}
